            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                   
<!--Regisztrácós űrlap-->
                    <form class="form-horizontal reg-form" data-ng-controller="formController">
                    
<!--Felhasználónév-->                     
                      <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">Felhasználó</label>
                        <div class="col-sm-8">
                          <input name="username" data-ng-model="user.username" type="text" class="form-control" id="username" placeholder="Felhasználó">
                        </div>
                      </div><!-- /Felhasználónév-->

<!--Cím-->                     
                      <div class="form-group">
                        <label for="address" class="col-sm-4 control-label">Cím</label>
                        <div class="col-sm-8">
                          <input name="address" data-ng-model="user.address" type="text" class="form-control" id="address" placeholder="Cím">
                        </div>
                      </div><!-- /Cím-->
                      
<!--Telefonszám-->                     
                      <div class="form-group">
                        <label for="phone" class="col-sm-4 control-label">Telefonszám</label>
                        <div class="col-sm-8">
                          <input name="phone" data-ng-model="user.phone" type="text" class="form-control" id="phone" placeholder="Telefon">
                        </div>
                      </div><!-- /Telefonszám-->
                      
<!--Email-->                     
                      <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                          <input name="email" data-ng-model="user.email" type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                      </div><!-- /Email-->                     

<!--Jelszó-->                     
                      <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-8">
                          <input name="password" data-ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                      </div><!-- /Jelszó-->                     
                      
<!--Küldés-->                     
                      <div class="form-group">
                        <div class="col-xs-6">
                          <button type="button" class="btn btn-default" data-ng-click="processForm()">Küldés</button>
                        </div>
                      </div><!-- /Küldés-->                     
                    </form><!-- /Regisztrácós űrlap-->
                    
                    
                    
                    
                </div>
            </div>